{% extends "base.html" %}
{% load static %}
{% block titulo %}CINES LEÓN - Nueva Contraseña{% endblock %}
{% block contenido %}
<div class="pantalla-centrada container d-flex justify-content-center align-items-center">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm border-0">
            <div class="card-body p-4">
                <h2 class="texto-cine card-title text-center mb-4 fw-bold">Nueva contraseña</h2>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="texto-cine form-label fw-bold">{{ field.label }}:</label>
                            {{ field }}
                            {% if field.errors %}<div class="text-danger small">{{ field.errors|striptags }}</div>{% endif %}
                        </div>
                    {% endfor %}
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="fondo-cine btn text-white btn-lg">Guardar contraseña</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}